<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(color, i) in colors" :style="{color: color}">{{ i+1 }}) {{ color }}</li>
    </ul>
    <div v-for="(color, i) in colors">
        <h1>{{ color }}</h1>
        <p>{{ i }}</p>
    </div>
    <hr>
    <ul>
        <li v-for="user in users">
            <template v-for="(value, key, index) in user">{{key}}: {{value}} ({{index+1}})</template>
            <hr>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            colors: ['red', 'green', 'purple', 'blue'],
            users: [
                {name: 'Loro', age: 26, weight: 60},
                {name: 'Isla', age: 30, weight: 90},
                {name: 'Eduu', age: 30, weight: 120},
            ],
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }
    h1, p {
        display: inline;
    }
</style>
